<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
  {{ end }}

  {{ $tufte := resources.Get "css/tufte.css" }}
  {{ $override := resources.Get "css/site.css" }}
  {{ $stylesheets := slice $tufte $override | resources.Concat "css/bundle.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $stylesheets.Permalink }}">
</head>
<body>
  <header>
    <nav>
      <a href="/">home</a>
      <a href="https://twitter.com/superdealloc">twitter</a>
      <a href="https://github.com/andremedeiros">github</a>
      <a href="https://instagram.com/superdealloc">instagram</a>
      <a href="https://twitch.tv/superdealloc">twitch</a>
    </nav>
  </header>

