{{ partial "header.html" . }}
<article>
  <h1>{{ .Title }}</h1>

  <p>
    This is my little corner on the Internet, where I dump my thoughts on random subjects.
  </p>

  <h2>Recent Posts</h2>
  <ul>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
  {{ range $paginator.Pages }}
    <li>
      {{ if .IsNode }}
      <a href="{{ .Permalink }}">{{ .Title}}</a>
      {{ else }}
      <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</a>
      {{ end }}
    </li>
  {{ end }}
  </ul>
</article>
{{ partial "footer.html" . }}
