{{ partial "header.html" . }}
<article>
  <h1>{{ .Site.Title }}</h1>

  <section>
    {{ .Content }}
  </section>

  <h2>Recent Posts</h2>
  <ul>
  {{ $paginator := .Paginate (where site.RegularPages "Type" "posts") }}
  {{ range $paginator.Pages }}
    <li>
      {{ if .IsNode }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ else }}
      <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</a>
      {{ end }}
      &mdash;
      {{ .Date.Format "Jan 2, 2006" }}
    </li>
  {{ end }}
  </ul>
</article>
{{ partial "footer.html" . }}
